{% extends 'base.html.twig' %}


{% block body %}
<div class="col-md-3">
                                            <a href="#">
                                                <div class="card red summary-inline">
                                                    <div class="card-body">
                                                        <i class="icon fa fa-share-alt fa-4x"></i>
                                                        <div class="content">
                                                            <div class="title">{{nbarticle}}</div>
                                                            <div class="sub-title">Articles Parus</div>
                                                        </div>
                                                        <div class="clear-both"></div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
    
{% endblock %}