{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    {% for article in articles %}
   
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{article.coverimage}}" alt="">
      <div class="caption">
        <h3>{{article.title}}</h3>
        <p>{{article.preview}}</p>
        <p><a href="{{ path('article_show', {'id' : article.id})}}" class="btn btn-default" role="button">Lire la suite</a><a href="{{ path('article_delete', {'id' : article.id})}}" class="btn btn-danger glyphicon glyphicon-remove" role="button"></a></p>
      </div>
    </div>
  </div>

        {% endfor %}
        </div>
{% endblock %}
