{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <p>
        
            <a href="{{ path('article_index') }}" class="btn btn-success glyphicon glyphicon-chevron-left"></a>
       
    </p>
{% endblock %}
