{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-hover">
  {% for article in articles %}
      <tr>
          <td>
              {{ article.id }}
          </td>
          <td>
              {{ article.title}}
          </td>
          <td>
              {{article.author}}
          </td>
      </tr>    
      
      {%endfor%}
</table>
{% endblock %}